<style type="text/css">
body {
  width: 700px;
  margin: auto;
}
p code {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 0px 5px;
  white-space: nowrap;
}
pre {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 6px 10px;
  overflow: auto;
  width: 700px;
  padding-left: 1.5rem;
}
</style>
